/*  * {
  box-sizing: border-box;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-gray-100: #f4f3f1;
  --color-gray-200: #dddbd8;
  --color-gray-300: #ccc9c6;
  --color-gray-400: #aeaba7;
  --color-gray-500: #8a8784;
  --color-gray-600: #656360;
  --color-gray-700: #4b4a47;
  --color-gray-800: #31302e;
  --color-gray-900: #1f1d1b;

  --color-primary-100: #80e1ff;
  --color-primary-200: #66dbff;
  --color-primary-300: #33cfff;
  --color-primary-400: #00c3ff;
  --color-primary-500: #00c3ff;
  --color-primary-600: #009ccc;
  --color-primary-700: #FFFFFF;
  --color-primary-800: #FFFFFF;
  --color-primary-900: #FFFFFF;
}

body {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
 */

 :root {
  --grey: #232d37;
  /* --background:  #1e2328; */
  --background:  #000;
  --dark: #181818;
  --primary: #00c2fe;
  --opaque: rgba(255, 255, 255, 0.4);
  --purple: #9647FF;

}

 *{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
html {
  height: 100vh;
  margin: 0;
  overflow-y: auto;
}
body{
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  background: #0D0D0F !important;
  height: 100%;
  overflow-y: auto;
}
a{
  text-decoration: none !important;
}
li{
  list-style: none;
}


.navbar{
  background-color: #161616 !important;
}


#search-box:focus{
  outline: 2px solid #00CE79 !important;
outline: none;
}

.movie-card{
  transition: all .3s ease-in-out;
}
.movie-card:hover{
  transform: scale(1.02);
  box-shadow: 10px 10px 10px rgba(0,0,0,.1);
}

#badge{
  /* background-color:#222222 !important; */
  /* background-color:#00CE79 !important;
  color:black; */
}


@media screen and (max-width:800px) {
  #movie-info{
    flex-direction: column;
  }
  #form{
    width: 100% !important;
  }
}

.paginate{
  display:flex;
  gap: 0 12px;
  color: white;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

.paginate>li{
  background-color: #252525;
  font-size: 18px;
  padding: .3em .6em;
  border-radius: 5px;
  transition: all .2s linear;
}

.paginate>li:hover{
  background-color: #00CE79;
  color: black;
}

.selected{
  background-color:#00CE79  !important;
  color: black;
}

.paginate > .previous>a{
  color: white ;
}
.paginate > .next>a{
  color: white ;
  
}
.paginate > .previous>a:hover{
  color: black ;
}
.paginate > .next>a:hover{
  color: black ;
}




.search-box{
  background: #1e1e1e !important;
  display: none;
  border: none !important;
  color: white !important;
}